In [425]:
import pandas as pd
import numpy as np
%matplotlib inline
import matplotlib.pyplot as plt

In [426]:
df_08 = pd.read_excel("all_alpha_08.xls")
df_18 = pd.read_excel("all_alpha_18.xlsx")

In [427]:
df_08

,Model,Displ,Cyl,Trans,Drive,Fuel,Sales Area,Stnd,Underhood ID,Veh Class,Air Pollution Score,FE Calc Appr,City MPG,Hwy MPG,Cmb MPG,Unadj Cmb MPG,Greenhouse Gas Score,SmartWay
0,ACURA MDX,3.7,(6 cyl),Auto-S5,4WD,Gasoline,CA,U2,8HNXT03.7PKR,SUV,7,Drv,15,20,17,22.0527,4,no
1,ACURA MDX,3.7,(6 cyl),Auto-S5,4WD,Gasoline,FA,B5,8HNXT03.7PKR,SUV,6,Drv,15,20,17,22.0527,4,no
2,ACURA RDX,2.3,(4 cyl),Auto-S5,4WD,Gasoline,CA,U2,8HNXT02.3DKR,SUV,7,Drv,17,22,19,24.1745,5,no
3,ACURA RDX,2.3,(4 cyl),Auto-S5,4WD,Gasoline,FA,B5,8HNXT02.3DKR,SUV,6,Drv,17,22,19,24.1745,5,no
4,ACURA RL,3.5,(6 cyl),Auto-S5,4WD,Gasoline,CA,U2,8HNXV03.5HKR,midsize car,7,Drv,16,24,19,24.5629,5,no
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2399,VOLVO XC 90,3.2,(6 cyl),Auto-S6,4WD,Gasoline,CA,U2,8VVXB03.2U2N,SUV,7,Drv,14,20,16,20.7134,4,no
2400,VOLVO XC 90,4.4,(8 cyl),Auto-S6,4WD,Gasoline,CA,U2,8VVXB04.4U2N,SUV,7,Drv,13,19,15,19.4789,3,no
2401,VOLVO XC 90,3.2,(6 cyl),Auto-S6,2WD,Gasoline,FA,B5,8VVXB03.2U2N,SUV,6,Drv,14,20,16,20.9644,4,no
2402,VOLVO XC 90,3.2,(6 cyl),Auto-S6,4WD,Gasoline,FA,B5,8VVXB03.2U2N,SUV,6,Drv,14,20,16,20.7134,4,no
2403,VOLVO XC 90,4.4,(8 cyl),Auto-S6,4WD,Gasoline,FA,B5,8VVXB04.4U2N,SUV,6,Drv,13,19,15,19.4789,3,no

In [428]:
#Drop features that aren't consistent (not present in both datasets)
df_08.drop(['Stnd', 'Underhood ID', 'FE Calc Appr', 'Unadj Cmb MPG'], axis=1)

,Model,Displ,Cyl,Trans,Drive,Fuel,Sales Area,Veh Class,Air Pollution Score,City MPG,Hwy MPG,Cmb MPG,Greenhouse Gas Score,SmartWay
0,ACURA MDX,3.7,(6 cyl),Auto-S5,4WD,Gasoline,CA,SUV,7,15,20,17,4,no
1,ACURA MDX,3.7,(6 cyl),Auto-S5,4WD,Gasoline,FA,SUV,6,15,20,17,4,no
2,ACURA RDX,2.3,(4 cyl),Auto-S5,4WD,Gasoline,CA,SUV,7,17,22,19,5,no
3,ACURA RDX,2.3,(4 cyl),Auto-S5,4WD,Gasoline,FA,SUV,6,17,22,19,5,no
4,ACURA RL,3.5,(6 cyl),Auto-S5,4WD,Gasoline,CA,midsize car,7,16,24,19,5,no
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2399,VOLVO XC 90,3.2,(6 cyl),Auto-S6,4WD,Gasoline,CA,SUV,7,14,20,16,4,no
2400,VOLVO XC 90,4.4,(8 cyl),Auto-S6,4WD,Gasoline,CA,SUV,7,13,19,15,3,no
2401,VOLVO XC 90,3.2,(6 cyl),Auto-S6,2WD,Gasoline,FA,SUV,6,14,20,16,4,no
2402,VOLVO XC 90,3.2,(6 cyl),Auto-S6,4WD,Gasoline,FA,SUV,6,14,20,16,4,no
2403,VOLVO XC 90,4.4,(8 cyl),Auto-S6,4WD,Gasoline,FA,SUV,6,13,19,15,3,no

In [429]:
df_18

,Model,Displ,Cyl,Trans,Drive,Fuel,Cert Region,Stnd,Stnd Description,Underhood ID,Veh Class,Air Pollution Score,City MPG,Hwy MPG,Cmb MPG,Greenhouse Gas Score,SmartWay,Comb CO2
0,ACURA ILX,2.4,4.0,AMS-8,2WD,Gasoline,CA,L3ULEV125,California LEV-III ULEV125,JHNXV02.4NH3,small car,3,25,35,29,6,No,309
1,ACURA ILX,2.4,4.0,AMS-8,2WD,Gasoline,FA,T3B125,Federal Tier 3 Bin 125,JHNXV02.4NH3,small car,3,25,35,29,6,No,309
2,ACURA MDX,3.0,6.0,AMS-7,4WD,Gasoline,CA,L3ULEV125,California LEV-III ULEV125,JHNXV03.08H3,small SUV,3,26,27,27,6,No,330
3,ACURA MDX,3.0,6.0,AMS-7,4WD,Gasoline,FA,T3B125,Federal Tier 3 Bin 125,JHNXV03.08H3,small SUV,3,26,27,27,6,No,330
4,ACURA MDX,3.5,6.0,SemiAuto-9,2WD,Gasoline,CA,L3ULEV125,California LEV-III ULEV125,JHNXV03.5RH3,small SUV,3,19,27,22,4,No,404
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2708,VOLVO XC90,2.0,4.0,SemiAuto-8,4WD,Gasoline,FA,T3B70,Federal Tier 3 Bin 70,JVVXJ02.0A70,standard SUV,5,22,28,24,5,No,365
2709,VOLVO XC90,2.0,4.0,SemiAuto-8,4WD,Gasoline,CA,L3ULEV70,California LEV-III ULEV70,JVVXJ02.0B70,standard SUV,5,20,27,23,5,No,394
2710,VOLVO XC90,2.0,4.0,SemiAuto-8,4WD,Gasoline,FA,T3B70,Federal Tier 3 Bin 70,JVVXJ02.0B70,standard SUV,5,20,27,23,5,No,394
2711,VOLVO XC90,2.0,4.0,SemiAuto-8,4WD,Gasoline/Electricity,CA,L3SULEV30,California LEV-III SULEV30,JVVXJ02.0P30,standard SUV,7,26/63,30/61,27/62,10,Elite,187
2712,VOLVO XC90,2.0,4.0,SemiAuto-8,4WD,Gasoline/Electricity,FA,T3B30,Federal Tier 3 Bin 30,JVVXJ02.0P30,standard SUV,7,26/63,30/61,27/62,10,Elite,187

In [430]:
df_18.drop(['Stnd', 'Stnd Description', 'Underhood ID', 'Comb CO2'],axis=1)

,Model,Displ,Cyl,Trans,Drive,Fuel,Cert Region,Veh Class,Air Pollution Score,City MPG,Hwy MPG,Cmb MPG,Greenhouse Gas Score,SmartWay
0,ACURA ILX,2.4,4.0,AMS-8,2WD,Gasoline,CA,small car,3,25,35,29,6,No
1,ACURA ILX,2.4,4.0,AMS-8,2WD,Gasoline,FA,small car,3,25,35,29,6,No
2,ACURA MDX,3.0,6.0,AMS-7,4WD,Gasoline,CA,small SUV,3,26,27,27,6,No
3,ACURA MDX,3.0,6.0,AMS-7,4WD,Gasoline,FA,small SUV,3,26,27,27,6,No
4,ACURA MDX,3.5,6.0,SemiAuto-9,2WD,Gasoline,CA,small SUV,3,19,27,22,4,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2708,VOLVO XC90,2.0,4.0,SemiAuto-8,4WD,Gasoline,FA,standard SUV,5,22,28,24,5,No
2709,VOLVO XC90,2.0,4.0,SemiAuto-8,4WD,Gasoline,CA,standard SUV,5,20,27,23,5,No
2710,VOLVO XC90,2.0,4.0,SemiAuto-8,4WD,Gasoline,FA,standard SUV,5,20,27,23,5,No
2711,VOLVO XC90,2.0,4.0,SemiAuto-8,4WD,Gasoline/Electricity,CA,standard SUV,7,26/63,30/61,27/62,10,Elite
2712,VOLVO XC90,2.0,4.0,SemiAuto-8,4WD,Gasoline/Electricity,FA,standard SUV,7,26/63,30/61,27/62,10,Elite

In [431]:
#rename columns
#Change the "Sales Area" column label in the 2008 dataset to "Cert Region" for consistency
df_08.rename(columns={"Sales Area":"Cert Region"}, inplace=True)

In [432]:
df_08.head()

,Model,Displ,Cyl,Trans,Drive,Fuel,Cert Region,Stnd,Underhood ID,Veh Class,Air Pollution Score,FE Calc Appr,City MPG,Hwy MPG,Cmb MPG,Unadj Cmb MPG,Greenhouse Gas Score,SmartWay
0,ACURA MDX,3.7,(6 cyl),Auto-S5,4WD,Gasoline,CA,U2,8HNXT03.7PKR,SUV,7,Drv,15,20,17,22.0527,4,no
1,ACURA MDX,3.7,(6 cyl),Auto-S5,4WD,Gasoline,FA,B5,8HNXT03.7PKR,SUV,6,Drv,15,20,17,22.0527,4,no
2,ACURA RDX,2.3,(4 cyl),Auto-S5,4WD,Gasoline,CA,U2,8HNXT02.3DKR,SUV,7,Drv,17,22,19,24.1745,5,no
3,ACURA RDX,2.3,(4 cyl),Auto-S5,4WD,Gasoline,FA,B5,8HNXT02.3DKR,SUV,6,Drv,17,22,19,24.1745,5,no
4,ACURA RL,3.5,(6 cyl),Auto-S5,4WD,Gasoline,CA,U2,8HNXV03.5HKR,midsize car,7,Drv,16,24,19,24.5629,5,no

In [433]:
#Rename all column labels to replace spaces with underscores and convert everything to lowercase

df_08.rename(columns=lambda x: x.strip().lower().replace(" ", "_"), inplace=True)

In [434]:
df_08.head()

,model,displ,cyl,trans,drive,fuel,cert_region,stnd,underhood_id,veh_class,air_pollution_score,fe_calc_appr,city_mpg,hwy_mpg,cmb_mpg,unadj_cmb_mpg,greenhouse_gas_score,smartway
0,ACURA MDX,3.7,(6 cyl),Auto-S5,4WD,Gasoline,CA,U2,8HNXT03.7PKR,SUV,7,Drv,15,20,17,22.0527,4,no
1,ACURA MDX,3.7,(6 cyl),Auto-S5,4WD,Gasoline,FA,B5,8HNXT03.7PKR,SUV,6,Drv,15,20,17,22.0527,4,no
2,ACURA RDX,2.3,(4 cyl),Auto-S5,4WD,Gasoline,CA,U2,8HNXT02.3DKR,SUV,7,Drv,17,22,19,24.1745,5,no
3,ACURA RDX,2.3,(4 cyl),Auto-S5,4WD,Gasoline,FA,B5,8HNXT02.3DKR,SUV,6,Drv,17,22,19,24.1745,5,no
4,ACURA RL,3.5,(6 cyl),Auto-S5,4WD,Gasoline,CA,U2,8HNXV03.5HKR,midsize car,7,Drv,16,24,19,24.5629,5,no

In [435]:
df_18.rename(columns=lambda x: x.strip().lower().replace(" ", "_"), inplace=True)

In [436]:
df_18.head()

,model,displ,cyl,trans,drive,fuel,cert_region,stnd,stnd_description,underhood_id,veh_class,air_pollution_score,city_mpg,hwy_mpg,cmb_mpg,greenhouse_gas_score,smartway,comb_co2
0,ACURA ILX,2.4,4.0,AMS-8,2WD,Gasoline,CA,L3ULEV125,California LEV-III ULEV125,JHNXV02.4NH3,small car,3,25,35,29,6,No,309
1,ACURA ILX,2.4,4.0,AMS-8,2WD,Gasoline,FA,T3B125,Federal Tier 3 Bin 125,JHNXV02.4NH3,small car,3,25,35,29,6,No,309
2,ACURA MDX,3.0,6.0,AMS-7,4WD,Gasoline,CA,L3ULEV125,California LEV-III ULEV125,JHNXV03.08H3,small SUV,3,26,27,27,6,No,330
3,ACURA MDX,3.0,6.0,AMS-7,4WD,Gasoline,FA,T3B125,Federal Tier 3 Bin 125,JHNXV03.08H3,small SUV,3,26,27,27,6,No,330
4,ACURA MDX,3.5,6.0,SemiAuto-9,2WD,Gasoline,CA,L3ULEV125,California LEV-III ULEV125,JHNXV03.5RH3,small SUV,3,19,27,22,4,No,404

In [437]:
# confirm column labels for 2008 and 2018 datasets are identical
df_08.columns == df_18.columns

array([ True,  True,  True,  True,  True,  True,  True,  True, False,
       False, False, False,  True,  True,  True, False, False, False])

In [438]:
# make sure they're all identical like this
(df_08.columns == df_18.columns).all()

False

In [439]:
# save new datasets for next section
df_08.to_csv('data_08_v1.csv', index=False)
df_18.to_csv('data_18_v1.csv', index=False)

#### Filter, drop nulls and Dedupe

In [440]:
# load datasets

df_08 = pd.read_csv('data_08_v1.csv')
df_18 = pd.read_csv('data_18_v1.csv')

In [441]:
df_08.shape

(2404, 18)

In [442]:
df_18.shape

(2713, 18)

In [443]:
# filter datasets for rows following California standards
df_08.query('cert_region == "CA"')
df_18.query('cert_region == "CA"')

,model,displ,cyl,trans,drive,fuel,cert_region,stnd,stnd_description,underhood_id,veh_class,air_pollution_score,city_mpg,hwy_mpg,cmb_mpg,greenhouse_gas_score,smartway,comb_co2
0,ACURA ILX,2.4,4.0,AMS-8,2WD,Gasoline,CA,L3ULEV125,California LEV-III ULEV125,JHNXV02.4NH3,small car,3,25,35,29,6,No,309
2,ACURA MDX,3.0,6.0,AMS-7,4WD,Gasoline,CA,L3ULEV125,California LEV-III ULEV125,JHNXV03.08H3,small SUV,3,26,27,27,6,No,330
4,ACURA MDX,3.5,6.0,SemiAuto-9,2WD,Gasoline,CA,L3ULEV125,California LEV-III ULEV125,JHNXV03.5RH3,small SUV,3,19,27,22,4,No,404
5,ACURA MDX,3.5,6.0,SemiAuto-9,2WD,Gasoline,CA,L3ULEV125,California LEV-III ULEV125,JHNXV03.5RH3,small SUV,3,20,27,23,5,No,390
8,ACURA MDX,3.5,6.0,SemiAuto-9,4WD,Gasoline,CA,L3ULEV125,California LEV-III ULEV125,JHNXV03.5RH3,small SUV,3,18,26,21,4,No,424
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2703,VOLVO XC60,2.0,4.0,SemiAuto-8,4WD,Gasoline/Electricity,CA,L3SULEV30,California LEV-III SULEV30,JVVXJ02.0P30,small SUV,7,26/60,28/58,26/59,10,Elite,199
2705,VOLVO XC90,2.0,4.0,SemiAuto-8,2WD,Gasoline,CA,L3ULEV70,California LEV-III ULEV70,JVVXJ02.0A70,standard SUV,5,22,29,25,5,No,353
2707,VOLVO XC90,2.0,4.0,SemiAuto-8,4WD,Gasoline,CA,L3ULEV70,California LEV-III ULEV70,JVVXJ02.0A70,standard SUV,5,22,28,24,5,No,365
2709,VOLVO XC90,2.0,4.0,SemiAuto-8,4WD,Gasoline,CA,L3ULEV70,California LEV-III ULEV70,JVVXJ02.0B70,standard SUV,5,20,27,23,5,No,394
2711,VOLVO XC90,2.0,4.0,SemiAuto-8,4WD,Gasoline/Electricity,CA,L3SULEV30,California LEV-III SULEV30,JVVXJ02.0P30,standard SUV,7,26/63,30/61,27/62,10,Elite,187

In [444]:
# confirm only certification region is California
df_08['cert_region'].unique()

array(['CA', 'FA', 'FC'], dtype=object)

In [445]:
# confirm only certification region is California
df_18['cert_region'].unique()

array(['CA', 'FA'], dtype=object)

In [446]:
# drop certification region columns form both datasets

df_08.drop(columns="cert_region", inplace=True)

In [447]:
# drop certification region columns form both datasets

df_18.drop(columns="cert_region", inplace=True)

In [448]:
df_08.shape

(2404, 17)

In [449]:
df_18.shape

(2713, 17)

#### Drop Rows with Missing Values

In [450]:
# view missing value count for each feature in 2008

df_08.isna().sum()

model                     0
displ                     0
cyl                     199
trans                   199
drive                    93
fuel                      0
stnd                      0
underhood_id              0
veh_class                 0
air_pollution_score       0
fe_calc_appr            199
city_mpg                199
hwy_mpg                 199
cmb_mpg                 199
unadj_cmb_mpg           199
greenhouse_gas_score    199
smartway                  0
dtype: int64

In [451]:
# view missing value count for each feature in 2018

df_18.isna().sum()

model                    0
displ                   50
cyl                     50
trans                    0
drive                    0
fuel                     0
stnd                     0
stnd_description         0
underhood_id             0
veh_class                0
air_pollution_score      0
city_mpg                 0
hwy_mpg                  0
cmb_mpg                  0
greenhouse_gas_score     0
smartway                 0
comb_co2                 0
dtype: int64

In [452]:
# drop rows with any null values in both datasets

df_08.dropna(how="any",inplace=True)

In [453]:
df_18.dropna(how="any",inplace=True)

In [454]:
# checks if any of columns in 2008 have null values - should print False
df_08.isnull().sum().any()

False

In [455]:
# checks if any of columns in 2008 have null values - should print False
df_18.isnull().sum().any()

False

#### Dedupe Data

In [456]:
# print number of duplicates in 2008 and 2018 datasets

df_08.duplicated().sum()

20

In [457]:
df_18.duplicated().sum()

62

In [458]:
# drop duplicates in both datasets

df_08.drop_duplicates(inplace=True)

In [459]:
df_18.drop_duplicates(inplace=True)

In [460]:
# print number of duplicates again to confirm dedupe - should both be 0

df_08.duplicated().sum()

0

In [461]:
df_18.duplicated().sum()

0

In [462]:
# save progress for the next section
df_08.to_csv('data_08_v2.csv', index=False)
df_18.to_csv('data_18_v2.csv', index=False)

In [463]:
# load datasets

df_08 = pd.read_csv('data_08_v2.csv')
df_18 = pd.read_csv('data_18_v2.csv')

In [464]:
df_08.dtypes

model                    object
displ                   float64
cyl                      object
trans                    object
drive                    object
fuel                     object
stnd                     object
underhood_id             object
veh_class                object
air_pollution_score      object
fe_calc_appr             object
city_mpg                 object
hwy_mpg                  object
cmb_mpg                  object
unadj_cmb_mpg           float64
greenhouse_gas_score     object
smartway                 object
dtype: object

In [465]:
df_08.head(3)

,model,displ,cyl,trans,drive,fuel,stnd,underhood_id,veh_class,air_pollution_score,fe_calc_appr,city_mpg,hwy_mpg,cmb_mpg,unadj_cmb_mpg,greenhouse_gas_score,smartway
0,ACURA MDX,3.7,(6 cyl),Auto-S5,4WD,Gasoline,U2,8HNXT03.7PKR,SUV,7,Drv,15,20,17,22.0527,4,no
1,ACURA MDX,3.7,(6 cyl),Auto-S5,4WD,Gasoline,B5,8HNXT03.7PKR,SUV,6,Drv,15,20,17,22.0527,4,no
2,ACURA RDX,2.3,(4 cyl),Auto-S5,4WD,Gasoline,U2,8HNXT02.3DKR,SUV,7,Drv,17,22,19,24.1745,5,no

In [466]:
df_18.dtypes

model                    object
displ                   float64
cyl                     float64
trans                    object
drive                    object
fuel                     object
stnd                     object
stnd_description         object
underhood_id             object
veh_class                object
air_pollution_score       int64
city_mpg                 object
hwy_mpg                  object
cmb_mpg                  object
greenhouse_gas_score      int64
smartway                 object
comb_co2                 object
dtype: object

In [467]:
df_18.head(3)

,model,displ,cyl,trans,drive,fuel,stnd,stnd_description,underhood_id,veh_class,air_pollution_score,city_mpg,hwy_mpg,cmb_mpg,greenhouse_gas_score,smartway,comb_co2
0,ACURA ILX,2.4,4.0,AMS-8,2WD,Gasoline,L3ULEV125,California LEV-III ULEV125,JHNXV02.4NH3,small car,3,25,35,29,6,No,309
1,ACURA ILX,2.4,4.0,AMS-8,2WD,Gasoline,T3B125,Federal Tier 3 Bin 125,JHNXV02.4NH3,small car,3,25,35,29,6,No,309
2,ACURA MDX,3.0,6.0,AMS-7,4WD,Gasoline,L3ULEV125,California LEV-III ULEV125,JHNXV03.08H3,small SUV,3,26,27,27,6,No,330

In [468]:
# check value counts for the 2008 cyl column
df_08['cyl'].value_counts()

(6 cyl)     858
(4 cyl)     600
(8 cyl)     519
(5 cyl)     113
(12 cyl)     60
(10 cyl)     29
(2 cyl)       4
(16 cyl)      2
Name: cyl, dtype: int64

In [469]:
# Extract int from strings in the 2008 cyl column

#https://stackoverflow.com/questions/35376387/extract-int-from-string-in-pandas

# + is 1 or more digits
# \d is a digit (a character in the range 0-9)
# \d+ means match 1 or more digits

df_08['cyl'] = df_08['cyl'].str.extract('(\d+)').astype(int)

In [470]:
## Check value counts for 2008 cyl column again to confirm the change
df_08['cyl'].value_counts()

6     858
4     600
8     519
5     113
12     60
10     29
2       4
16      2
Name: cyl, dtype: int64

In [471]:
# convert 2018 cyl column to int
df_18["cyl"] = df_18.cyl.astype(int)

In [472]:
df_18.dtypes

model                    object
displ                   float64
cyl                       int64
trans                    object
drive                    object
fuel                     object
stnd                     object
stnd_description         object
underhood_id             object
veh_class                object
air_pollution_score       int64
city_mpg                 object
hwy_mpg                  object
cmb_mpg                  object
greenhouse_gas_score      int64
smartway                 object
comb_co2                 object
dtype: object

In [473]:
#Fix air_pollution_score datatype

df_08["air_pollution_score"] = df_08.air_pollution_score.str.extract('(\d+)').astype(float)

In [474]:
df_18["air_pollution_score"] = df_18.air_pollution_score.astype(float)

In [475]:
#Fix city_mpg, hwy_mpg, cmb_mpg datatypes

#2008 and 2018: convert string to float

df_08["city_mpg"] = df_08.city_mpg.str.extract('(\d+)').astype(float)

In [476]:
df_18["city_mpg"] = df_18.city_mpg.str.extract('(\d+)').astype(float)

In [478]:
df_08["hwy_mpg"] = df_08.hwy_mpg.str.extract('(\d+)').astype(float)

In [479]:
df_18["hwy_mpg"] = df_18.hwy_mpg.str.extract('(\d+)').astype(float)

In [480]:
df_08["cmb_mpg"] = df_08.cmb_mpg.str.extract('(\d+)').astype(float)

In [481]:
df_18["cmb_mpg"] = df_18.cmb_mpg.str.extract('(\d+)').astype(float)

In [487]:
#Fix greenhouse_gas_score datatype
#2008- convert from float to int

df_08["greenhouse_gas_score"] = df_18.greenhouse_gas_score.astype(int)

In [488]:
df_08.to_csv('data_08_v3.csv', index=False)
df_18.to_csv('data_18_v3.csv', index=False)

In [489]:
# load datasets

df_08 = pd.read_csv('data_08_v3.csv')
df_18 = pd.read_csv('data_18_v3.csv')